In [1]:
import pandas as pd
import numpy as np

In [2]:
def features_value_couts(df):
    writer = pd.ExcelWriter('agrupamento.xlsx', engine='xlsxwriter')

    for col in list(df.columns):
        df2 = df[col].value_counts()
        df2.to_excel(writer, sheet_name = col)

    writer.save()

In [3]:
def standardize_existing_categorical_values(df):
    s = df.drop_duplicates().reset_index(drop=True)

    size = len(s)
    count = []
    for i in range(0,size):
        count.append(len(str(s.iloc[:,1:].loc[i][0])))

    s['count'] = pd.Series(count)
    s = s.sort_values([s.columns[0], 'count'], ascending = [False, False])
    s = s.drop_duplicates(subset=s.columns[0], keep='first')
    s = s.drop(columns=s.columns[2]).reset_index(drop=True)
    resultado = dict(s.values)
    return resultado

In [4]:
def standardize_categorical_values_without_id (column):
    df = column.copy()
    lista_unica = df.dropna().drop_duplicates().sort_values().reset_index(drop =True)
    
    lista_substituir = []
    
    for i in lista_unica:
        for j in lista_unica:
            if (i in j) and (i !=j) :
                lista_substituir.append([i, j])
        
    for i in range(len(lista_substituir)):
        df.replace(lista_substituir[i][0], lista_substituir[i][1], inplace=True)
    return df

In [5]:
df_raw = pd.read_csv(r'raw_compiled_dataset.csv', sep=';')

C:\Users\liand\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,4,20,21,24,25,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df = df_raw.copy()

In [7]:
df.info(memory_usage=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2767166 entries, 0 to 2767165
Data columns (total 28 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Agente  Causador  Acidente   2767166 non-null  object
 1   Data Acidente                2767166 non-null  object
 2   CBO                          1440964 non-null  float64
 3   CBO.1                        2767166 non-null  object
 4   CID-10                       1440964 non-null  object
 5   CID-10.1                     2767166 non-null  object
 6   CNAE2.0 Empregador           2767166 non-null  int64
 7   CNAE2.0 Empregador.1         2767166 non-null  object
 8   Emitente CAT                 2767166 non-null  object
 9   Espécie do benefício         2767166 non-null  object
 10  Filiação Segurado            2767166 non-null  object
 11  Indica Óbito Acidente        2767166 non-null  object
 12  Munic Empr                   2767166 non-null  object
 13  Natureza da Lesão            2767166 non-null  object
 14  Origem de Cadastramento CAT  2767166 non-null  object
 15  Parte Corpo Atingida         2767166 non-null  object
 16  Sexo                         2767166 non-null  object
 17  Tipo do Acidente             2767166 non-null  object
 18  UF  Munic.  Acidente         2767166 non-null  object
 19  UF Munic. Empregador         2767166 non-null  object
 20  Data  Afastamento            1440964 non-null  object
 21  Data Despacho Benefício      2483969 non-null  object
 22  Data Acidente.1              2767166 non-null  object
 23  Data Nascimento              2766962 non-null  object
 24  Data Emissão CAT             2483969 non-null  object
 25  Data Acidente.2              1609399 non-null  object
 26  CNPJ/CEI Empregador          1376154 non-null  object
 27  Tipo de Empregador           49952 non-null    object
dtypes: float64(1), int64(1), object(26)
memory usage: 591.1+ MB

In [8]:
df.rename(columns={'CNPJ/CEI Empregador' : 'CNPJ_CEI_Empregador'}, inplace= True)

#### Removing blank spaces at the beginning and end of sentences. Also, standardizing therepresentations of missing values.

features_value_couts(df)

In [9]:
df.columns = df.columns.str.strip()
cols = df.select_dtypes(object).columns
df[cols] = df[cols].apply(lambda x: x.str.strip())
df = df.replace(to_replace =["*******", "{ñ class}",'{ñ Class}',"{ñ", "00/00/0000", "Zerado", "0000/00", 
                                       'Em Branco', '000000-Não Informado', 0, '0', '{ñ class', "00.000.000.000.000", "Ignorado", "000000-Ignorado"],
                value = np.nan)

In [10]:
df['CID-10'] = df['CID-10'].where(df['CID-10'] == None , df['CID-10.1'].str.split(pat=" ").str[0])
df['CID-10'] = df['CID-10'].str.replace('.', '', regex= True)

df['CBO'] = df['CBO'].where(df['CBO'] == None, df['CBO.1'].str.split(pat="-").str[0])

df['cod Munic Empr'] = pd.to_numeric(df['Munic Empr'].str.split(pat="-").str[0], downcast="integer")

#### Modifying columns to correct types.

In [11]:
df['Data Acidente.2'].fillna(df['Data Acidente.1'].apply(lambda x: str(x) if(len(str(x))>7) else None), inplace=True)
df['Data Acidente.2'].fillna(df['Data Acidente'].apply(lambda x: str(x) if(len(str(x))>7) else None), inplace=True)
df['Data Acidente.2'].fillna(df['Data Acidente'].fillna(df['Data Acidente.1']), inplace=True)
df['Data Acidente.2'] =  df['Data Acidente.2'].apply(lambda x: ('01/' + str(x)[-2:] + '/' + str(x)[:4]) 
                                                     if(len(str(x))==7 or len(str(x))==6) else x)

In [12]:
df.drop(columns=['Data Acidente', 'Data Acidente.1' ], inplace=True)

In [13]:
df['Data  Afastamento'] = df['Data  Afastamento'].apply(lambda x: '01/' + str(x)[-2:] + '/'+str(x)[:4] 
                                                        if(len(str(x)) == 7 or len(str(x))==6) else x)

In [14]:
df['Data Despacho Benefício'] = df['Data Despacho Benefício'].apply(lambda x: '01/' + str(x)[-2:] + '/'+str(x)[:4] 
                                                        if(len(str(x)) == 7 or len(str(x))==6) else x)

In [15]:
df['Data Acidente.2'] = pd.to_datetime(df['Data Acidente.2']) # Work accident date
df['Data  Afastamento'] = pd.to_datetime(df['Data  Afastamento'], errors = 'coerce') # Date of medical leave
df['Data Despacho Benefício'] = pd.to_datetime(df['Data Despacho Benefício']) # Benefit Dispatch Date
df['Data Nascimento'] = pd.to_datetime(df['Data Nascimento']) # Birth date
df['Data Emissão CAT'] = pd.to_datetime(df['Data Emissão CAT'])  # Notice issuance date

features_value_couts(df)

#### Analyzing the categorical values of each attribute

In [16]:
df_size = df.size

#### Type of Employer

In [17]:
count_tp_empregador = df["Tipo de Empregador"].count()
percentage_tp_empregador  = (count_tp_empregador/df_size)*100
print("Type of Employer has only one category" 
      + "being Cnpj (National Register of Legal Entities) / Cgc (General Taxpayer Register) with  " + str(count_tp_empregador))
print("However, it was recently added, so it represents less than 1% of the dataset: " + str(percentage_tp_empregador) + "%")

Type of Employer has only one categorybeing Cnpj (National Register of Legal Entities) / Cgc (General Taxpayer Register) with  27844
However, it was recently added, so it represents less than 1% of the dataset: 0.03726770491034001%

#### National Register of Legal Entities

In [18]:
count_cnpj = len(df.CNPJ_CEI_Empregador.unique()) -1
percentage_cnpj = (count_cnpj/df_size)*100
print("The Cnpj (National Register of Legal Entities) attribute differentiates companies anonymously with: " + str(count_cnpj))
print("Also, recently added, so it represents: " + str(percentage_cnpj) + "%")

The Cnpj (National Register of Legal Entities) attribute differentiates companies anonymously with: 184559
Also, recently added, so it represents: 0.24702235133412737%

#### Employers' cities

In [19]:
df[['cod Munic Empr', 'Munic Empr']].loc[df['cod Munic Empr'].notnull() & df['Munic Empr'].isnull()]

Empty DataFrame
Columns: [cod Munic Empr, Munic Empr]
Index: []

In [20]:
df['cod Munic Empr'] = df['cod Munic Empr'].fillna(0).astype('int64')
dict_Munic_Empr = standardize_existing_categorical_values(df[['cod Munic Empr', 'Munic Empr']])
df['Munic Empr'] = df['cod Munic Empr'].map(dict_Munic_Empr)
df[['cod Munic Empr','Munic Empr']].value_counts().shape

(5032,)

#### Brazilian Classification of Occupations

In [21]:
df[['CBO', 'CBO.1']].loc[(df['CBO'].notnull() & df['CBO.1'].isnull()) |  (df['CBO'].isnull() & df['CBO.1'].notnull())]

Empty DataFrame
Columns: [CBO, CBO.1]
Index: []

In [22]:
dict_cbo = standardize_existing_categorical_values(df[['CBO', 'CBO.1']])
df['CBO.1'] = df['CBO'].map(dict_cbo)
df['CBO'] = df['CBO'].fillna(0).astype('int64')
df[['CBO','CBO.1']].value_counts().shape

(2213,)

#### National Classification of Brazilian Economic Activities

In [23]:
df['CNAE2.0 Empregador'].fillna(0, inplace=True)
df['CNAE2.0 Empregador'] = df['CNAE2.0 Empregador'].astype('int64')
dict_cnae = standardize_existing_categorical_values(df[['CNAE2.0 Empregador', 'CNAE2.0 Empregador.1']])
df['CNAE2.0 Empregador.1'] = df['CNAE2.0 Empregador'].map(dict_cnae)
df[['CNAE2.0 Empregador','CNAE2.0 Empregador.1']].value_counts().shape

(668,)

#### International Disease Classification

In [24]:
df[['CID-10', 'CID-10.1']].loc[(df['CID-10'].notnull() & df['CID-10.1'].isnull()) | (df['CID-10'].isnull() & df['CID-10.1'].notnull())]

Empty DataFrame
Columns: [CID-10, CID-10.1]
Index: []

In [25]:
dict_cid = standardize_existing_categorical_values(df[['CID-10', 'CID-10.1']])
df['CID-10.1'] = df['CID-10'].map(dict_cid)
df[['CID-10','CID-10.1']].value_counts().shape

(7586,)

#### Nature of the Injury

In [26]:
df['Natureza da Lesão'] = standardize_categorical_values_without_id(df['Natureza da Lesão'])
df['Natureza da Lesão'].value_counts().count()

29

#### Causer agent of the accident

In [27]:
df['Agente  Causador  Acidente'] = standardize_categorical_values_without_id(df['Agente  Causador  Acidente'])
df['Agente  Causador  Acidente'].value_counts().count()

293

#### Affected body parties

In [28]:
df['Parte Corpo Atingida'] = standardize_categorical_values_without_id(df['Parte Corpo Atingida'])
df['Parte Corpo Atingida'].value_counts().count()

39

#### Notification issuer

In [29]:
df['Emitente CAT'].value_counts()

Empregador             2592930
Segurado/Dependente      36854
Sindicato                23067
Médico                    7509
Autoridade Pública        6559
Name: Emitente CAT, dtype: int64

#### Type of benefit

In [30]:
df['Espécie do benefício'] = standardize_categorical_values_without_id(df['Espécie do benefício'])
df['Espécie do benefício'].value_counts()

Pa                                         2664166
Auxílio Doenca por Acidente do Trabalho     102597
Pensão por Morte Acidente do Trabalho          171
Auxílio Acidente                               113
Aposent. Invalidez Acidente Trabalho            56
Afastamento Até 15 Dias Acidente Trab.          55
Auxílio Doenca Previ                             7
Pensão por Morte Pre                             1
Name: Espécie do benefício, dtype: int64

#### Insured Membership

In [31]:
df['Filiação Segurado'].value_counts()

Empregado             2661220
Trabalhador Avulso       7117
Segurado Especial        1214
Name: Filiação Segurado, dtype: int64

#### Indicates Death Accident

In [32]:
df['Indica Óbito Acidente'].value_counts()

Não    2663563
Sim      12759
Name: Indica Óbito Acidente, dtype: int64

#### Origin of CAT Registration

In [33]:
df['Origem de Cadastramento CAT'].value_counts()

Internet    2676319
Prisma            3
Name: Origem de Cadastramento CAT, dtype: int64

#### Gender

In [34]:
df['Sexo'].value_counts()

Masculino        1818801
Feminino          937075
Não Informado      11242
Indeterminado         48
Name: Sexo, dtype: int64

#### Type of accident

In [35]:
df['Tipo do Acidente'].value_counts()

Típico     2019580
Trajeto     565751
Doença       91263
Name: Tipo do Acidente, dtype: int64

#### The state where the accident occurred

In [36]:
df['UF  Munic.  Acidente'].value_counts()

Maranhão            972967
Rondônia            283656
Roraima             216368
Tocantins           176023
Pará                 56544
Acre                 40993
Ceará                36380
Pernambuco           15784
Amazonas             15231
Piauí                 9730
Sergipe               9234
Amapá                 8601
Alagoas               3656
Rio Grande Norte      3436
Paraíba               2846
Name: UF  Munic.  Acidente, dtype: int64

#### Employers' states

In [37]:
df['UF Munic. Empregador'].value_counts()

São Paulo              951181
Minas Gerais           270860
Rio Grande do Sul      213709
Paraná                 213494
Santa Catarina         179472
Rio de Janeiro         167568
Goiás                   76093
Bahia                   67101
Espírito Santo          61819
Mato Grosso             55514
Pernambuco              53636
Ceará                   51995
Mato Grosso do Sul      42853
Pará                    39186
Distrito Federal        35560
Amazonas                26085
Rio Grande do Norte     18295
Maranhão                16921
Rondônia                15310
Alagoas                 14985
Paraíba                 13818
Sergipe                  9435
Tocantins                9030
Piauí                    7960
Roraima                  3276
Acre                     3083
Amapá                    2748
Name: UF Munic. Empregador, dtype: int64

In [38]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2767166 entries, 0 to 2767165
Data columns (total 27 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Agente  Causador  Acidente   2581413 non-null  object
 1   CBO                          2767166 non-null  int64
 2   CBO.1                        2417474 non-null  object
 3   CID-10                       2667195 non-null  object
 4   CID-10.1                     2667195 non-null  object
 5   CNAE2.0 Empregador           2767166 non-null  int64
 6   CNAE2.0 Empregador.1         2618813 non-null  object
 7   Emitente CAT                 2666919 non-null  object
 8   Espécie do benefício         2767166 non-null  object
 9   Filiação Segurado            2669551 non-null  object
 10  Indica Óbito Acidente        2676322 non-null  object
 11  Munic Empr                   2620328 non-null  object
 12  Natureza da Lesão            2672361 non-null  object
 13  Origem de Cadastramento CAT  2676322 non-null  object
 14  Parte Corpo Atingida         2674669 non-null  object
 15  Sexo                         2767166 non-null  object
 16  Tipo do Acidente             2676594 non-null  object
 17  UF  Munic.  Acidente         1851449 non-null  object
 18  UF Munic. Empregador         2620987 non-null  object
 19  Data  Afastamento            868496 non-null   datetime64[ns]
 20  Data Despacho Benefício      101311 non-null   datetime64[ns]
 21  Data Nascimento              2761317 non-null  datetime64[ns]
 22  Data Emissão CAT             2393125 non-null  datetime64[ns]
 23  Data Acidente.2              2767158 non-null  datetime64[ns]
 24  CNPJ_CEI_Empregador          531059 non-null   object
 25  Tipo de Empregador           27844 non-null    object
 26  cod Munic Empr               2767166 non-null  int64
dtypes: datetime64[ns](5), int64(3), object(19)
memory usage: 570.0+ MB

In [39]:
df.rename(columns={'Agente  Causador  Acidente' : 'agente_causador',
                   'CBO': 'cd_cbo',
                   'CBO.1' : 'cbo_descricao',
                   'CID-10' : 'cd_cid',
                   'CID-10.1' : 'cid_descricao',
                   'CNAE2.0 Empregador' : 'cd_cnae',
                   'CNAE2.0 Empregador.1' : 'cnae_descricao',
                   'Emitente CAT' : 'emitente',
                   'Espécie do benefício' : 'especie_beneficio',
                   'Filiação Segurado' : 'filiacao_segurado',
                   'Indica Óbito Acidente' : 'indica_obito',
                   'Munic Empr' : 'municipio_empregador',
                   'Natureza da Lesão' : 'natureza_lesao',
                   'Origem de Cadastramento CAT' : 'origem_Cadastramento',
                   'Parte Corpo Atingida' : 'parte_corpo_atingida',
                   'Sexo' : 'sexo',
                   'Tipo do Acidente' : 'tp_acidente',
                   'UF  Munic.  Acidente' : 'uf_acidente',
                   'UF Munic. Empregador' : 'uf_empregador',
                   'Data  Afastamento' : 'dt_afastamento',
                   'Data Despacho Benefício' : 'dt_despacho_beneficio',
                   'Data Nascimento' : 'dt_nascimento',
                   'Data Emissão CAT' : 'dt_emissao',
                   'Data Acidente.2' : 'dt_acidente',
                   'CNPJ_CEI_Empregador' : 'cnpj_empregador',
                   'Tipo de Empregador' : 'tp_empregador',
                   'cod Munic Empr' : 'cd_municipio_empregador'
                  }, inplace=True
         )

In [40]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2767166 entries, 0 to 2767165
Data columns (total 27 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   agente_causador          2581413 non-null  object
 1   cd_cbo                   2767166 non-null  int64
 2   cbo_descricao            2417474 non-null  object
 3   cd_cid                   2667195 non-null  object
 4   cid_descricao            2667195 non-null  object
 5   cd_cane                  2767166 non-null  int64
 6   cnae_descricao           2618813 non-null  object
 7   emitente                 2666919 non-null  object
 8   especie_beneficio        2767166 non-null  object
 9   filiacao_segurado        2669551 non-null  object
 10  indica_obito             2676322 non-null  object
 11  municipio_empregador     2620328 non-null  object
 12  natureza_lesao           2672361 non-null  object
 13  origem_Cadastramento     2676322 non-null  object
 14  parte_corpo_atingida     2674669 non-null  object
 15  sexo                     2767166 non-null  object
 16  tp_acidente              2676594 non-null  object
 17  uf_acidente              1851449 non-null  object
 18  uf_empregador            2620987 non-null  object
 19  dt_afastamento           868496 non-null   datetime64[ns]
 20  dt_despacho_beneficio    101311 non-null   datetime64[ns]
 21  dt_nascimento            2761317 non-null  datetime64[ns]
 22  dt_emissao               2393125 non-null  datetime64[ns]
 23  dt_acidente              2767158 non-null  datetime64[ns]
 24  cnpj_empregador          531059 non-null   object
 25  tp_empregador            27844 non-null    object
 26  cd_municipio_empregador  2767166 non-null  int64
dtypes: datetime64[ns](5), int64(3), object(19)
memory usage: 570.0+ MB

In [41]:
df.to_csv(r'null_treated_dataset.csv', sep=';', encoding='utf-8', index = False)